# Core project dependencies
pandas
scikit-learn
fairlearn
seaborn
matplotlib
# Optional: model explainability
shap
lime
dice-ml
streamlit
streamlit-shap
streamlit-dice
dowhy
causalml
# Sequence models
torch
hmmlearn
captum