# Core project dependencies
pandas
scikit-learn>=1.0
fairlearn
aif360
seaborn
matplotlib
statsmodels
# Optional: model explainability
shap
lime
dice-ml
streamlit
dowhy
# Sequence models
torch
hmmlearn